body {
    background-color: #a5ecff;
}
h1 {
    text-align: center;
    color: #455785;
    padding: 20px;
    font-family: Jura, san-serif;
}
p {
    text-align: center;
    margin-top: 50px;
}
mark {
    background-color: white;
    border: 1px solid black;
}
.circle_1 {
    height:150px;
    width:150px;
    background-color: #61d258;
    border-radius:100px;
    margin-bottom:5px;
    margin-left: -70px;
    border: 1px solid black;
}


