body {
    background-color: #a5ecff;
}
h1 {
    text-align: center;
    color: #455785;
    padding: 20px;
    font-family: Jura, san-serif;
}
p {
    text-align: center;
    margin-top: 30px;
}
mark {
    background-color: white;
    border: 1px solid black;
}
.circle_1 {
    height:100px;
    width:100px;
    background-color: #67f45e;
    border-radius:120px;
    margin-bottom:5px;
    margin-left: -70px;
    border: 1px solid black;
}
.drag {
    text-align: center;
}



