body {
    background-color: #a5ecff;
}
h1 {
    text-align: center;
    color: #455785;
    padding: 20px;
    font-family: Jura, san-serif;
    margin-bottom: 50px;
}
p {
    text-align: center;
    margin-top: 30px;
}
mark {
    background-color: white;
    border: 1px solid black;
}

/* growing circle */
.circle_1 {
    height:100px;
    width:100px;
    background-color: #67f45e;
    border-radius:120px;
    margin-bottom:5px;
    margin-left: -70px;
    border: 1px solid black;
}

/* smile-drag */
.drag {
    text-align: center;
}

/* dog fadeTo */
#dog {
    margin-left: 50px;
    margin-top: 5px;
}
.btn {
    margin-left: 85px;
    margin-top: 20px;
    background-color: white;
    position: absolute;
    border: 1px solid black;
}

/* books fadeOut */
.book {
    margin-left: 85px;
}
.highlighted {
    -webkit-box-shadow: 0 0 13px #FFD700;
    -moz-box-shadow: 0 0 13px #FFD700;
    box-shadow: 0 0 13px #fffd1a;
    cursor:pointer;
}
#light{
    background-color: white;
    margin-top: 25px;
    padding: 10px;
    cursor:pointer;
}

/* Slide Up/Down */
.pull-me{
    -webkit-box-shadow: 0 0 7px #927a52;
    -moz-box-shadow: 0 0 7px #927a52;
    box-shadow: 0 0 7px #927a52;
    cursor:pointer;
    display:block;
    position:relative;
    width:150px;
    height:20px;
    font-family:arial,sans-serif;
    font-size:14px;
    color:#ffffff;
    background: #d9c191;
    text-decoration:none;
    -moz-border-bottom-left-radius:5px;
    -moz-border-bottom-right-radius:5px;
    border-bottom-left-radius:5px;
    border-bottom-right-radius:5px;
}
.panel {
    background: #fefff3;
    font-family:Jura,times-new-roman,serif;
    height: 150px;
    margin-top: 3px;
}
.slide {
    margin-top:-19px;
    width: 165px;
    border-top:solid 1px #b7a180;
}
.panel-move {
    margin-left: 40px;
}







