/* оформление */
body {
    background-color: #a5ecff;
}
h1 {
    text-align: center;
    color: #455785;
    padding: 20px;
    font-family: Jura, san-serif;
    margin-bottom: 50px;
}
mark {
    background-color: white;
    border: 1px solid black;
}
#page {
    background-color: white;
    border: 1px solid black;
    text-align: center;
}
 p {
     text-align: center;
 }

/* Sortable books and authors */
li.les13{
    background: #f9e8bf;
    border:1px solid black;
    color:black;
    margin:2px;
    padding:2px;
}
#les13_ex1, #les13_ex2{
    width:200px;
    float: left;
}
.sort {
    background-color: white;
    padding: 15px;
    border: 1px solid black;
    margin-left: -80px;
}

/* Running man */
.run {
    position: relative;
    left: 0;
    top: 0;
}